@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		view-transition-name: none;
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	/* Only for Desktop */
	@media (min-width: 640px) {
		*::-webkit-scrollbar-track {
			@apply rounded bg-transparent;
		}

		*::-webkit-scrollbar {
			@apply size-2 bg-transparent;
		}

		*::-webkit-scrollbar-thumb {
			@apply rounded dark:bg-muted bg-muted-foreground;
		}
	}

	body {
		@apply bg-background text-foreground;
		font-family: 'DM Sans Variable', sans-serif;
		animation-fill-mode: forwards;
	}

	pre.shiki {
		@apply p-0 py-2 rounded-none bg-transparent m-0 max-sm:max-h-[30rem] !important;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}

	pre.shiki code {
		/* counter-reset: lineNumber; */
		@apply grid [&>span]:border-l-[3px] [&>span]:border-l-transparent [&>span]:pl-2 [&>span]:pr-3 [counter-reset:line] [&>span]:before:mr-3 [&>span]:before:inline-block [&>span]:before:w-4 [&>span]:before:text-right [&>span]:before:text-muted-foreground [&>span]:before:![content:counter(line)] [&>span]:before:[counter-increment:line];
	}

	pre.shiki code span.line-highlight {
		@apply !border-l-blue-700/80 bg-blue-800/[15%];
	}

	pre.shiki code span.diff-add::before {
		content: '+' attr(data-line) !important;
		@apply text-green-400;
	}
	pre.shiki code span.diff-add {
		/* content: '+' + attr(data-line); */
		@apply !border-l-green-400/80 bg-green-400/[15%];
	}

	pre.shiki code span.diff-remove::before {
		content: '-' attr(data-line) !important;
		@apply text-red-400;
	}
	pre.shiki code span.diff-remove {
		/* content: '+' + attr(data-line); */
		@apply !border-l-red-400/80 bg-red-400/[15%];
	}

	/* .code-wrapper button {
		position: absolute;
		right: 2rem;
	} */

	.valkyrie {
		box-shadow:
			1px 1px 1px rgba(0, 0, 0, 0.03),
			10px 10px 17px -1px rgba(0, 0, 0, 0.03),
			50px 50px 80px -3px rgba(0, 0, 0, 0.03);

		@apply bg-background border border-muted;
	}
}
